* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('Untitled design.png');
    background-size: auto 100%;
    background-repeat: repeat-y;
    animation: scrollBackground 20s linear infinite;
}

@keyframes scrollBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -100vh;
    }
}

.text-container {
    font-size: 1em;
    font-family: sans-serif;
    background-color: lightcoral;
    color: white;
    padding: 50px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 20px;
}

.text-container > h1 {
    font-family: system-ui;
    font-weight: 700;
    font-size: 1.5em;
}

@media (min-width: 768px) {
    .main {
        background-size: auto 100%;
        background-repeat: repeat-x;
        animation: scrollBackgroundDesktop 20s linear infinite;
    }

    @keyframes scrollBackgroundDesktop {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: -100vw 0;
        }
    }
}

